@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;400;500&display=swap');

body {
    background: #d8f3dc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    margin-bottom: 50px;
}

.form-input {
    margin: 10px 0;
}

input {
    background: none;
    border: .5px solid #ffff3f;
    padding: 5px;
    width: 100%;
    color: #1b4332;
    font-weight: 500;
    font-family: 'Roboto Mono';
    font-weight: 500;
}

input:active,
input:hover,
input:focus {
    outline: none;
    border: none;
    background: #d8f3dc;
    border-radius: 10px;
    transition: .2s;
}

.btn {
    width: 100%;
    height: 30px;
    border: .5px solid #ffff3f;
    background: #1b4332;
    color: #ffff3f;
    margin-top: 20px;
}

.btn:hover {
    border-radius: 10px;
    transition: .2s;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 50px;
    background: #1b4332;
    color: #ffff3f;
    border-radius: 50px;
    box-shadow: 0px 0px 5px #081c15;
}